body , html{
    height: 100%;
}

.container{
    height: 100%;
}

.controls{
    height: 100px;
}

.workingArea{
    height: 70%;
}

.dash {
    background-color: #dfe6e9;
    height: 61%;
    margin-top: 30px;
    display: flex;
    margin-left: 21%;
    margin-right: 21%;
    align-items: center;
    border-radius: 20px;
}
.tool{
    height: 100%;
    width: 30%;
    position: relative;

}
.tool img{
    height: 100%;
    width: 100%;

}

#canvas{
    overflow: hidden;
}
.sticky {
    position: absolute;
    top: 200px;
    left: 300px;
    height: 200px;
    width: 250px;
}

.stick-header {
    height: 23px;
    background-color: skyblue;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}
.stick-header div {
   height: 80%;
   width: 8%;
   margin-right: 5px;
   align-items: center;
   margin-top: 1%;
}

.sticky-content {
    height: 87%;
    /* border: 1px solid; */
    border-bottom-right-radius: 20px;
    background: lightsteelblue;
    outline: none;
    padding: 10px;
}
.close {
    background-color: lightcoral;
    border-radius: 20px;
}



.minimize {
    background-color: lightcyan;
    border-radius: 20px;
}